<%- include('partials/header') -%>

    <!-- <div class='jumbotron text-center'>
        <img src='images/cover.png' alt='fysical logo'>
        <p>A simple to use weight tracking application</p>
        <section class="col-6 mt-5">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </section>
    </div>   -->
    <div class='jumbotron text-center'>
      <img src='images/cover.png' alt='fysical logo'>
      <p>A simple to use weight tracking application</p>
      <div class="d-flex flex-column align-items-center">
      <main class="form-signin w-100 m-auto text">
        <section class="col-6 mt-5">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
        </section>
        <form action="/login" method="POST">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          <div class="form-floating">
            <label for="floatingInput">Email address</label>
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          </div>
          <div class="form-floating">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
          </div>
          <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
        </form>
      </main>
      </div>
    </div>
    <%- include('partials/footer') -%>